# Go
bin/
dist/
coverage.out

# Python
.venv/
__pycache__/

# Editors
.DS_Store
.idea/
.vscode/
.cursor/

# Logs
logs/

# Config
config/kernel.yaml

# Data (should be ignored inly in project root)
/data/

